<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">
        <activity
            android:name=".activity.Activity_List_Room"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Forgot_Password"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_List_Revenue"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Total_Revenue"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Add_Notification"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Notifications_Second_Layer"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Add_Exam_Score"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Add_Staff"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Add_Certificate"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Add_Account"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Add_Program"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Add_Schedule"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Add_Official_Student"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Notifications_ToolBars_Second_Layer"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Add_Class"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Add_Potential_Student"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Notifications_ToolBars"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Notifications"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Change_Setting"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Main_Screen"
            android:exported="false" />
        <activity
            android:name=".activity.Activity_Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>